.form {
  width: 408px;
  padding: 24px;
  margin: 24px;
}

.delay-input {
  display: block;
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.delay-input:hover {
  border-color: #000;
}

.delay-input:active,
.delay-input:focus {
  border-color: #4e75ff;
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin: 16px 0 24px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #808080;
}

.form-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  transition: background-color 0.2s ease-in-out;
}

.form-btn:hover {
  background-color: #6c8cff;
}
